<table>
    <tr>
        <td> <h1>Alexa Sofia Arreola Alvarado</h1>  </td><br>
        <br><td> <i>Life Goal >  Learn about technology and have fun in the process.</i></td>
        <td>
            <img src="../assets//Ale.jpeg"
            width="100" height="100">

        </td>
        <td>
            <ul>
                <li> alexa.s.arreola@gmail.com</li>
                <li>+52 8112585917</li>
                <li>Santiago, Nuevo León</li>
                <li>@alexa0s en github</li>

            </ul>
        </td>
    </tr>
</table>

