<table>
    <tr>
        <td> Alexa Arreola / </td><br>
        <br><td> Meta en la vida: Aprender sobre tecnologia y divertirme en el proceso</td>
        <td>
            <img src="../assets//Ale.jpeg"
            width="100" height="100">

        </td>
        <td>
            <ul>
                <li> alexa.s.arreola@gmail.com</li>
                <li>+52 8112585917</li>
                <li>Santiago, Nuevo León</li>
                <li>@alexa0s en github</li>

            </ul>
        </td>
    </tr>
</table>

